
<template>
  <div class="surface-0 overflow-hidden">
        

     
            <div class="mx-4 md:mx-8 mt-0 md:mt-4">
                <h1 class="text-6xl font-bold text-gray-900 line-height-2"><span class="font-light block"></span>Личный кабинет студента</h1>
                <p class="font-normal text-2xl line-height-3 md:mt-3 text-gray-700">Организация и контроль учебного процесса </p>
                <Button label="Инструкции" class="p-button-rounded text-xl border-none mt-5 bg-blue-500 font-normal text-white line-height-3 px-3"></Button>
            </div>
           
       
  
               

                <div class="col-12 mt-8 mb-8 p-2 md:p-8" style="border-radius:20px; background:linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), radial-gradient(77.36% 256.97% at 77.36% 57.52%, #EFE1AF 0%, #C3DCFA 100%);">
                    <div class="flex flex-column justify-content-center align-items-center text-center px-3 py-3 md:py-0">
                        <h3 class="text-gray-900 mb-2">Проект Education Socket System</h3>
                        <span class="text-gray-600 text-2xl"></span>
                        <p class="text-gray-900 sm:line-height-2 md:line-height-4 text-2xl mt-4" style="max-width:800px;">“Универсальная платформа для построения информационной системы учебного заведения”</p>

                    </div>
                </div>
            </div>
     
</template>
