<script setup>
import { ref } from 'vue';

import AppMenuItem from './AppMenuItem.vue';

const model = ref([
    {
        label: 'Работа с преподавателями',
        items: [
            { label: 'Таблица профессора', icon: 'pi pi-fw pi-chart-bar', to: '/ProfessorTable'},
            { label: 'регистрация', icon: 'pi pi-fw pi-circle', to: '/register' }
        ]
    }
]);
</script>

<template>
    <ul class="layout-menu">
        <template v-for="(item, i) in model" :key="item">
            <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>
            <li v-if="item.separator" class="menu-separator"></li>
        </template>
        <li>
          
        </li>
    </ul>
</template>

<style lang="scss" scoped></style>
