<script lang="ts">
import axios from 'axios';
export default {
    name: "App",

    data() {

        return {
            professor: {
                name: null,
                sureName: null,
                middleName: null,
                email: null,
                birthDate: null,
                loginString: null,
                password: null,
                /*department: null,
                departments: [
                    {name: "ФКФН"},
                    {name: "ФАИТ"},
                ],
                position: null,
                positions: [
                    {name: "Профессор"},
                    {name: "Декан"},
                ],*/
                workExpirience: null
            },
        }
    },

    methods: {
        createProfessor() {
            console.log("Создание отчета");
            axios.post("http://localhost:9888/professor/", this.professor)
                .then(response => {
                    console.log("Созданный отчет => ", response.data);
                })
                .catch(error => {
                    if (error.response) {
                        console.log("Ошибка ответа сервера:", error.response.data)
                        console.log("Статус ошибки ответа: ", error.response.status)
                        console.log("Заголовки ошибки ответа: ", error.response.headers)

                    } else if (error.request) {
                        console.log("Не получен ответ на запрос: ", error.request)
                        this.$toast.add({
                            severity: 'error',
                            detail: 'Ошибка сохранения преподователя',
                            life: 3000,
                        });
                    } else {
                        console.log('Ошибка отправки запроса: ', error.message);
                    }
                    if (error.config) {
                        console.log('Ошибка конфигурации: ', error.config);
                    }
                });
        }
    }
}
</script>
<template>
    <div class="grid">
        <div class="col-12">
            <div class="col-12">
                <div class="card">
                    <div class="col-8">

                        <InputText type="text" v-model="professor.loginString" placeholder="Логин" />
                        <br>
                        <InputText type="password" v-model="professor.password" placeholder="Пароль" />
                        <br>
                        <InputText type="text" v-model="professor.name" placeholder="Имя" />
                        <br>
                        <InputText type="text" v-model="professor.sureName" placeholder="Фамилия" />
                        <br>
                        <InputText type="text" v-model="professor.middleName" placeholder="Отчество" />
                        <br>
                        <InputText type="text" v-model="professor.email" placeholder="Email" />
                        <br>
                        <InputText type="date" v-model="professor.birthDate" placeholder="Дата рождения" />
                        <br>
                        <!--
            <MultiSelect v-model="professor.department" :options="professor.departments" optionLabel="name" placeholder="Специализация"/>
            <br>
            <MultiSelect v-model="professor.position" :options="professor.positions" optionLabel="name" placeholder="Должность"/>
            <br>
            -->
                        <InputText type="text" v-model="professor.workExpirience" placeholder="Стаж" />
                        <br>
                        <Button @click="createProfessor()" icon="pi pi-check" label="Сохранить" />
                    </div>
                </div>
            </div>
        </div>
</div></template>
